body {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 45px;
  font-weight: bold;
  margin: 0px;
}
h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 0px;
}
h3 {
  font-size: 23px;
  font-weight: bold;
  margin: 0px;
}
h5 {
  font-size: 10px;
}
p {
  font-size: 18px;
  margin: 0px;
}
.btn {
  text-decoration: none;
  font-size: 20px;
  color: white;
  background-color: #ff5959;
  padding: 12px 30px;
  margin: 0px;
  border-radius: 5px;
}
.flexable-container {
  display: flex;
}
.half-width {
  width: 45%;
}

/* ------------- For top section (header section) ------------------ */
.header-container {
  background-image: url("images/donation1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.header-text-container {
  padding: 10% 12%;
  text-align: center;
  align-items: center;
}
.header-text-container h1 {
  color: white;
  margin-bottom: 10px;
}
.header-text-container p {
  color: white;
  font-weight: 100;
  margin-bottom: 30px;
}

/* --------------- For donate Today section --------------------- */
.donate-container {
  text-align: center;
  padding: 6% 0% 0% 0%;
}
.donate-text-container {
  padding: 0% 18%;
}
.cash {
  margin-bottom: 20px;
  justify-content: center;
}
.cash-amount-btn {
  margin: 20px 10px;
  min-height: 100px;
  min-width: 135px;
  border: 0px;
  font-size: 30px;
  font-weight: bold;
  color: #707070;
  background-color: #fafafa;
  border-radius: 5px;
  cursor: pointer;
}
#selected-cash-btn {
  border: 2px solid #ff5959;
  background-color: #ffeeee;
}
.cash-input input {
  border: 0px;
  border-bottom: 2px solid #dadada;
  width: 760px;
  text-align: center;
  font-size: 20px;
  color: #dadada;
  padding: 10px 0px;
  margin-bottom: 40px;
  outline: none;
}
.cash-input input:focus {
  color: black;
}

/* --------------- For donation Plan section --------------------- */
.donate-plan-container {
  text-align: center;
  padding: 6% 5% 0% 5%;
}
.donate-plan-text-container {
  padding: 0% 17% 0% 17%;
  margin-bottom: 20px;
}
.topic-container {
  margin-bottom: 5px;
  justify-content: center;
}
.topic {
  height: auto;
  min-width: 250px;
  max-width: 300px;
  margin: 0px 8px 20px 8px;
  padding: 2% 2% 0% 2%;
  border-radius: 10px;
  text-align: left;
}
.topic img {
  margin-bottom: 20px;
}
.topic p {
  font-size: 15px;
  font-weight: 300;
  margin: 2px 0px 18px 0px;
}
#topic-1 {
  background-color: #4f9da610;
}
#topic-2 {
  background-color: #ff595910;
}
#topic-3 {
  background-color: #fff4d6;
}

/*  --------------- For two sections ---------------------  */
.lr-section {
  padding: 6% 5% 0% 5%;
  justify-content: center;
  align-items: center;
}
.lr-text-container {
  margin-left: 5%;
}
.lr-text-container h4 {
  font-weight: 100;
  color: #707070;
}
.lr-text-container div {
  margin-top: 30px;
}
.lr-img-container {
  margin-left: 5%;
}
.lr-img-container img {
  width: 100%;
  border-radius: 5px;
}

/*  --------------- For email section ---------------------  */
.get-update-container {
  text-align: center;
  margin: 5% 20% 0% 20%;
}
.email-input-container {
  margin-top: 20px;
  background-color: #fff4d6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
.email-input-container input {
  margin: 0px;
  border: 0px;
  padding: 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #d9d9d9;
  font-size: 20px;
}
.email-input-container button {
  margin: 0px;
  border: 0px;
  padding: 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  background-color: #ff5959;
  font-size: 20px;
}

/* ---------------- colabration --------------------------- */
.colabration {
  text-align: center;
  margin: 5% 20% 7% 20%;
}
.colabration-logo {
  margin-top: 20px;
  margin-left: 20px;
  max-height: 200px;
  padding: 10px 20px;
  box-shadow: 5px 5px 20px grey;
  justify-content: space-around;
}
.colabration-logo-item img {
  width: 100%;
}

/*  --------------- For footer section ---------------------  */
footer {
  padding: 30px 0px;
  color: white;
  background-color: black;
  text-align: center;
  justify-content: center;
}
footer h3 {
  font-family: "Lobster", cursive;
  color: #ff5959;
  font-size: 30px;
}
footer h5 {
  color: #d9dbe1;
}
